html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: lightgrey;
  /*
   * CSS image reference example.
   */
}
ul {
  list-style: none;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.button {
  margin: 20px;
  border-radius: 5px;
  background-color: cornflowerblue;
  border-color: cornflowerblue;
}

.material-icons {
  font-size: 10px;
  color: chocolate;
}
.stats-item {
  margin: 5px;
  font-size: 8px;
}

.photo-card {
  margin: 5px;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 10px;
  background-color: lightyellow;
}

.photo-card img {
  object-fit: cover;
  background-size: contain;
  border-radius: 10px;
}
